body{
    background-color: white;
}

.stage, .hero, .grid{
    margin-top: 6px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

/* HEADER CSS */
.headbox{
    height: 190px;
    border: 2px solid #ef9d2f;
    background-color: #ef9d2f;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.logobox{
    height: 100%;
    width: 12%;
    box-sizing: border-box;
    float: left;
    animation: logo 4s 2s infinite;
}

.logobox img{
    width: 100%;
    height: 100%;
    /* border: 2px solid;
    border-radius: 20px; */
    box-sizing: border-box;
}

.title, .subtitle{
    font-family: Chalkduster, fantasy;
    width: 60%;
    box-sizing: border-box;
    float: left;
    color: white;
    position: absolute;
    left: 13%;
}

.title{
    font-size: 270%;
    height: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    animation: moveTitle 4s 2s linear infinite;
    top: 0%;
}

.subtitle{
    height: 30%;
    margin-top: 0%;
    margin-bottom: 5px;
    animation: moveSub 4s 2s linear infinite;
    top: 85%;
}

@keyframes logo {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes moveTitle {
    0%{top: 0%;}
    50%{top: 85%;}
    90%{top: 0%;}
    100%{top: 0%;}
}

@keyframes moveSub {
    0%{top: 85%;}
    50%{top: -10%;}
    90%{top: 85%;}
    100%{top: 85%;}
}


/* SLIDESHOW CSS */
.stage{
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.slidegroup{
    width: 300%;
    height:100%;
    animation: slide 15s 3s infinite;
}

.slide{
    width: 33.333%;
    height: 100%;
    float: left;
}

.s1,.s2,.s3{
    background-color: #3b4d61;
    color: white
}

@keyframes slide{
    0%{margin-left: 0%;}

    33.333%{margin-left: -100%;}

    66.666%{margin-left: -200%;}
    
    100%{margin-left: 0%;}
}

/* HERO IMAGE  */
.hero{
    position:relative;
    overflow: auto;
}
    
.hero img {
    width:100%;
    height: 100%;
}
    
.sidekick{
    text-align: center;
    font-size: 90%;
    border: 4px solid #ef9d2f;
    opacity: .8;
    background-color: gray;
    position:absolute;
    width: 50%;
    top: 0%;
    right: 0%;
    text-align: center;
}

.bio{
    height: 300px;
    background-color: lightslategrey;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* or */
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.quote{
    width: 40%;
    height: 100%;
    margin-left: 0%;
    overflow: hidden;
    border: 2px solid pink;
    background-size: cover;
    background-image: 
    linear-gradient(rgba(2,0,36,.5), rgba(53,53,186,.5), rgba(0,212,255,.5)), 
    url(images/quote.jpeg);
    position: relative;
    box-sizing: border-box;   
}

.quote .sidekick{
    width: 97%;
}

.formula{
    width: 40%;
    height: 100%;
    border: 2px solid;
    padding: 0 2%;
    background:linear-gradient(rgba(2,0,36,.4), rgba(53,53,186,.4), rgba(0,212,255,.4));
    overflow: auto;
    box-sizing: border-box; 
}

.formula li{
    margin: 8% 0;
}

.ProductRow{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product{
    width: 30%;
    height: 90%;
    text-align: center;
    border: 2px solid black;
    padding: 1%;
    overflow: hidden;
}

.product a{
    font-family: marker felt;
    background-color: lightgray;
    border: 2px solid #000000;
    border-radius: 10pc;
    padding: 4%;
    text-decoration: none;
}

.product img{
    width: 90%;
    height: 50%;
}

.info{
    width: 100%;
    height: 30%;
    overflow:auto;
}

.footer{
    background-color: #000000;
    height: 450px;
    position: relative;
}

.nav{
    position: absolute;
    display: block;
    width: 100%;
    height: 30%;
    list-style: none;
    float: left;
    padding: 0 3%;
    /* text-align: center; */
}
.inside{
    float: left;
    list-style: none;
    text-align: center;
    width: 23%;
    height: 100%;
    border: 2px solid;
    /* margin-left: 0%; */
    color: gray;
    padding: 0%;
}

.inside:last-child{
    margin-right: 0%;
    margin-right: 3%;
}

.last{
    height: 60%;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    top: 36%;
    border: 2px solid red;
}

.connect{
    color: white;
    position: absolute;
    right: 0%;
    top: 0%;
    border: 2px solid blue;
    font-size: 120%;
}

.socials{
    position: absolute;
    top: 18%;
    right: 0%;
    
}

.socials img{
    width: 45px;
}

.copyright{
    color: white;
    bottom: 0%;
    margin: 0 10%;
    position: absolute;
    bottom: 0%;
    width: 80%;
    text-align: center;
}

