body{
    margin: 0;
    padding: 0;
    font-family: Supermercado One;
    min-width:700px; 
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.container .section{
    position: relative;
    height: 100%;
    display: grid;
    scroll-snap-align: start;
    background-blend-mode: multiply;
}

.container .section h2{
    background: #fff;
    color: #111;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 2em;
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: 5%;
}

.container .section p{
    color: #111;
    font-weight: 300;
    font-size: 2em;
    padding: 10px 20px;
    height: 20%;
    align-self: center;
}


.container .section:nth-child(1){
    background: url("num1.jpg") fixed;
    background-size: cover;
}

.container .section:nth-child(2){
    background: url("num2.jpg") fixed;
    background-size: cover;
}

.container .section:nth-child(3){
    background: url("num3.jpg") fixed;
    background-size: cover;
}

.container .section:nth-child(4){
    background: url("num4.jpg") fixed;
    background-size: cover;
}

.container .section:nth-child(5){
    background: url("num5.jpg") fixed;
    background-size: cover;
}




.page-body{
    grid-area: mid;
}


.intro-container, .AboutMe-container,.Education-container,.Projects-container{
    font-size: 150%;
    width: 65%;
    height: 80%;
    min-width: 700px;
    min-height: 370px;
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    display: grid;
    border-radius: 20px;
    grid-template:
    "portrait bio"
    /40% 60%;
    padding: 2%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);
}

.intro-container{
    height: 65%;
}

.myPic{
    height: 100%;
    width: 90%;
    grid-area: portrait;
    border: none;
    box-shadow: 0 6px 20px rgba(0, 0, 255, 1);
}
.bio{
    grid-area: bio;
    overflow: auto;
}



.message:before{
    content: 'Hi there. My name is Hans';
    font-size: 120%;
    animation: binary 4s 1s infinite linear;
    display: block;
}

@keyframes binary {
    0%{
        content: 'print(\'Hello World! I am Hans\')';
        font-size: 120%;
    }

    49%{
        content: 'print(\'Hello World! I am Hans\')';
        font-size: 120%;
    }
    50%{
        content: '01001000 01100101 01101100 01101100 01101111 00100000 01010111 01101111 01110010 01101100 01100100 00100001';
        font-size: 120%;
    }

    100%{
        content: '01001000 01100101 01101100 01101100 01101111 00100000 01010111 01101111 01110010 01101100 01100100 00100001';
        font-size: 120%;
    }
}


.AboutMe-container{
    height: 65%;
    grid-template:
    "header header"14%
    "pictures para"
    /40% 60%;
}

.title{
    grid-area: header;
    border: none;
    font-size: 150%;
}

.slideshow{
    height: 100%;
    width: 90%;
    grid-area: pictures;
    border: none;
    box-shadow: 0 6px 20px rgba(0, 0, 255, 1);
}

.para{
    height: 100%;
    width: 90%;
    grid-area: para;
    border: none;
    box-shadow: 0 6px 20px rgba(0, 0, 255, 1);
    color: white;
    background-color: black;
    padding: 2%;
}

.Education-container{
    height: 60%;
    grid-template:
    "header"14%
    "edu_info"
    /1fr;
    gap: 5px;
}

.Education-container .para{
    height: 100%;
    width: 90%;
    grid-area: edu_info;
    border: none;
    box-shadow: 0 6px 20px rgba(0, 0, 255, 1);
    color: white;
    background-color: black;
    padding: 2%;
    font-size: 100%;
}

.Projects-container{
    width: 70%;
    height: 50%;
    grid-template:
    "project1 project2 project3"1fr
    /32% 32% 32%;
    gap: 2%;
    background-color: rgba(255, 255, 255, .6);
}

.projCard{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    border: 3px solid;
    position: relative;
    box-sizing: border-box;
}

.Projects-container .projCard:nth-child(1){
    grid-area: project1;
    background: url("nonogram.png");
    background-size: cover;
    opacity: 1;
    background-color: #F14E28;
    float: right;
}

.Projects-container .projCard:nth-child(2){
    grid-area: project2;
    background: url("api.png");
    background-size: cover;
    opacity: 1;
    background-color: #F14E28;
}

.Projects-container .projCard:nth-child(3){
    grid-area: project3;
    float: left;
    background: url("homer.png");
    background-size: cover;
    opacity: 1;
    background-color: #F14E28;
}


.projName{
    font-size: 30px;
    position: absolute;
    bottom: 0%;
    background: white;
    width: 100%;
    height: 10%;
    border-radius: 15px;
    text-align: center;
}
