body{
    margin: 0;
    padding: 0;
    font-family: Supermercado One;
    min-width:700px; 
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.container .section{
    position: relative;
    height: 100%;
    display: grid;
    scroll-snap-align: start;
    background-blend-mode: multiply;
}

.container .section h2{
    background: #fff;
    color: #111;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 2em;
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: 5%;
}

.container .section p{
    color: #111;
    font-weight: 300;
    font-size: 2em;
    padding: 10px 20px;
    height: 20%;
    align-self: center;
}


.container .section:nth-child(1){
    background: #556 url("num1.jpg") center;
    background-size: contain;
}

.container .section:nth-child(2){
    background: url("num2.jpg") fixed;
    background-size: cover;
}

.container .section:nth-child(3){
    background: url("num3.jpg") fixed;
    background-size: cover;
}

.container .section:nth-child(4){
    background: url("num4.jpg") fixed;
    background-size: cover;
}

.container .section:nth-child(5){
    background: url("num5.jpg") fixed;
    background-size: cover;
}


.intro-container, .AboutMe-container,.Education-container,.Projects-container{
    font-size: 150%;
    width: 70%;
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    display: grid;
    border-radius: 20px;
    padding: 2%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);
}

.myPic{
    /* height: 37.5%;
    width: 50%; */
    grid-area: portrait;
    border: none;
}
.bio{
    align-self: center;
    justify-self: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}

.intro-container{
    background: url("portPicture.png");
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    height: 60%;
}

.message{
    font-size: 1em;
    display: block;
    text-align: center;
}

.message:before{
    /* content: 'print(\'Hello World! I am Hans\')'; */
    font-size: 1.5em;
    /* animation: binary 4s 1s infinite linear; */
    display: block;
    text-align: center;
}

/* @keyframes binary {
    0%{
        content: 'print(\'Hello World! I am Hans\')';
    }

    49%{
        content: 'print(\'Hello World! I am Hans\')';
    }
    50%{
        content: '01001000 01100101 01101100 01101100 01101111 00100000 01010111 01101111 01110010 01101100 01100100 00100001';
    }

    100%{
        content: '01001000 01100101 01101100 01101100 01101111 00100000 01010111 01101111 01110010 01101100 01100100 00100001';
    }
} */


.AboutMe-container{
    grid-template:
    "header header"14%
    "pictures para"
    /50% 50%;

    font-size: 2em;
    height: auto;
    width: 100%;
    min-height: 50%;
    box-sizing: border-box;
}

.title{
    grid-area: header;
    border: none;
    font-size: 150%;
}

.slideshow{
    width: 90%;
    height: 80%;
    grid-area: pictures;
    border: none;
    box-shadow: 0 6px 20px rgba(0, 0, 255, 1);
}

.para{
    width: 90%;
    height: 80%;
    grid-area: para;
    border: none;
    box-shadow: 0 6px 20px rgba(0, 0, 255, 1);
    color: white;
    background-color: black;
    padding: 2%;
    box-sizing: content-box;
}

.Education-container{
    height: 60%;
    grid-template:
    "header"14%
    "edu_info"
    /1fr;
    gap: 5px;
}

.Education-container .para{
    height: 100%;
    width: 90%;
    grid-area: edu_info;
    border: none;
    box-shadow: 0 6px 20px rgba(0, 0, 255, 1);
    color: white;
    background-color: black;
    padding: 2%;
    font-size: 100%;
}

.Projects-container{
    width: 70%;
    height: 50%;
    grid-template:
    "project1 project2 project3"1fr
    /32% 32% 32%;
    gap: 2%;
    background-color: rgba(255, 255, 255, .6);
}

.projCard{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    border: 3px solid;
    position: relative;
    box-sizing: border-box;
}

.Projects-container .projCard:nth-child(1){
    grid-area: project1;
    background: url("nonogram.png");
    background-size: cover;
    opacity: 1;
    background-color: #F14E28;
    float: right;
}

.Projects-container .projCard:nth-child(2){
    grid-area: project2;
    background: url("api.png");
    background-size: cover;
    opacity: 1;
    background-color: #F14E28;
}

.Projects-container .projCard:nth-child(3){
    grid-area: project3;
    float: left;
    background: url("homer.png");
    background-size: cover;
    opacity: 1;
    background-color: #F14E28;
}


.projName{
    font-size: 30px;
    position: absolute;
    bottom: 0%;
    background: white;
    width: 100%;
    height: 10%;
    border-radius: 15px;
    text-align: center;
}


.stage{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    margin-left: 0%;
}

.slidegroup{
    width: 300%;
    height:100%;
    animation: slide 15s 3s infinite;
}

.slide{
    width: 33.333%;
    height: 100%;
    float: left;
}

.s1,.s2,.s3{
    background-color: #3b4d61;
    color: white;
    background: url("demoIMG1.PNG");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

@keyframes slide{
    0%{margin-left: 0%;}

    33.333%{margin-left: -100%;}

    66.666%{margin-left: -200%;}
    
    100%{margin-left: 0%;}
}