body {
  font-family: 'Azeret Mono';
  background-color: black;
  color: white;
}

#haiti {
  width: 100%;
  transform: none;
}

#haiti {
  display: inline-block;
  justify-self: center;
  align-self: center;
}

#print {
  color: grey;
}

#app {
  color: darkolivegreen;
}

.parenthesis {
  color: white;
}

.my-gradient {
  background: linear-gradient(120deg, grey, gray);
  color: #fff;
  opacity: .8;
}

