body{
    background-color: #D1B271;
    font-family: Comic Sans MS, Comic Sans;
    margin: 4% 0%;
}
.top{
    text-shadow: 0px 2px lightslategray;
    text-align: center;
    animation: colorChange 4s  .4s linear infinite;
    transition: animation ;
}

#second, #first{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: upDown 2s 1s infinite;
}

#first{
    animation: upDown 2s .5s infinite;
}

.submitBox{
    background-color: #F14E28;
    width: 80%;
    margin: 0% auto;
    border-radius: 20px;
    padding: 2% 0;
}
.score{
    float: left;
    width: 25%;
    border: 2px solid;
    text-align: center;
    border-radius: 5px;
    background-color: #FED41D;
    max-width: 200px;
    min-width: 114.88px;
}

.reset{
    float: right;
    width: 25%;
    border: 2px solid;
    background-color: #FED41D;
    color: black;
    max-width: 150px;
}

.flic{
    display:block; 
    margin: 0% auto; 
    height: 100%;
    width: 100%;
    min-width: 140px; 
    max-width: 300px;
    min-height: 100px;
    max-height: 180px;
}

.history{
    display: block;
    margin: 0 20%;
    max-width: 800px;
    background-color: #FED41D;
    border-radius: 5px;
    border: 2px solid;
    font-size: 140%;
}

.userInput{
    display: block; 
    margin: 25px auto; 
    width: 25%;
    text-align: center;
    height: 50%;
    border-radius: 10px;
    border: 2px solid;
    min-width: 167.34px;
}

.submit{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid;
    background-color: #FED41D;
    display: block; 
    margin: 0 auto; 
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    min-width: 167.34px;
    max-width: 167.34px;
}
.submit:hover, .reset:hover{
    color: white;
    background-color: gray;
}

.gameCard{
    display: flex;
    background-color: #70D1FE;
}
.loseCard{
    display: none;
    background-color: #70D1FE;
}

.winCard{
    display: none;
    background-color: #70D1FE;
}

.message{
    text-align: center;
}

#secret{
    font-weight: bold;
    font-size: 140%;
}

#yourScore{
    font-size: 140%;
}

.card-body h5{
    animation: colorChange 4s  .4s linear infinite;
}

@keyframes colorChange {
    0%{color: black;}
    33.3%{color: #70D1FE;}
    66.6%{color: black;}
    100%{color: #F14E28;}
}

@keyframes upDown {
    0%,30%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-30px);
      text-shadow: 0px 20px lightslategray;
    }
}