body{
    background-color: mediumaquamarine;
}

.twoby1{
    float: left;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.b1, .b2{
    width: 40%;
    height: 90%;
    text-align: center;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1%;
    overflow: hidden;
}

.b1 a, .b2 a{
    font-family: marker felt;
    background-color: lightgray;
    border: 2px solid #000000;
    border-radius: 10pc;
    padding: 4%;
    text-decoration: none;
}

.b1 img, .b2 img{
    width: 90%;
    height: 50%;
}

.info{
    width: 100%;
    height: 30%;
}

.modalwin{
    background-color: rgba(100, 100, 100, .5);
    /* height: 300px; */
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
}

.modalwin:target{
    opacity: 1;
    pointer-events: all;
}

.mdlBox{
    background-color: white;
    width: 70%;
    margin: auto;
    height: 55%;
    top: 10%;
    position: relative;
}

.twogrid{
    float: left;
    width: 100%;
    height:80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.heading{
    width: 100%;
    font-size: 150%;
    position: relative;
    background-color: gray;
}

.stats{
    width: 40%;
    height: 50%;
    overflow: hidden;
    font-size: 130%;
    border: 2px solid;
    margin-left: 4px;
    overflow: auto;
}

.interior{
    width: 60%;
    height: 100%;
    border: 2px solid;
    margin-right: 4px;
}


.interior img{
    width: 100%;
    height: 100%;
}

.close{
    background-color: lightgray;
    border: 2px solid #000000;
    text-decoration: none;
    position: absolute;
    padding: 2px;
    top: 0;
    right: 0;
}

.h-33{
    height: 33%;
}

